body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  
  background-image: url(../assets/img/gradients.jpeg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.board {
  display: inline-grid;
  grid-template-columns: 69px 69px 69px 69px 69px 69px 69px 69px 69px 69px 69px 69px 69px;
  grid-template-rows: 33% auto auto 25%;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 900px;
  background-color: #202429;
  transform: translate(-50%, -50%);
  border-radius: 25px 25px 25px 25px;
}
.glow {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 900px;
  border-radius: 25px 25px 25px 25px;

  transform: translate(-50%, -50%);

  box-shadow: 0px 0px 80px 20px #0ff;
}
#play{
    grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 5;
  margin:10% 0 0 8%;

}
#btn1{

}
#btn2{}
#btn3{}
#btn4{}
#btn5{}
#btn6{}
#btn7{}
#btn8{}
#btn9{}
#btn10{}
#btn11{}
#btn12{}
#btn13{}
#btn14{}
#btn15{}


.example_a {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 40%;
  color: #fff ;
  
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: #ff6ce7;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_a:hover {
  background: #ffbcff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_b {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 40%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff6ce7;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_b:hover {
  background: #ffbcff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_c {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 40%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff6ce7;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_c:hover {
  background: #ffbcff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_d {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 40%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff6ce7;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_d:hover {
  background: #ffbcff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_e {
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 40%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff6ce7;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_e:hover {
  background: #ffbcff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_f {
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 40%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff6ce7;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_f:hover {
  background: #ffbcff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_g {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 40%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #44ceab;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_g:hover {
  background: #a6ffce;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_h {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 40%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #44ceab;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_h:hover {
  background: #a6ffce;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_i {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 40%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #44ceab;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_i:hover {
  background: #a6ffce;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_j {
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 40%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #44ceab;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_j:hover {
  background: #a6ffce;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_k {
  grid-column-start: 11;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 40%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #44ceab;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_k:hover {
  background: #a6ffce;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}

.example_1 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 30%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2483ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_1:hover {
  background: #9ac9ff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_2 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 30%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2483ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_2:hover {
  background: #9ac9ff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_3 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 30%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2483ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_3:hover {
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  background: #9ac9ff;
  letter-spacing: 1px;
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
.example_4 {
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 30%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2483ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_4:hover {
  background: #9ac9ff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #myBtn {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
    margin:10% 0 0 8%;  
    width: 60px;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background:transparent;
    color:transparent;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: transparent;
    color: transparent;
  }